{#<div id="go2rtc_streams" class="row-fluid" style="display: flex"></div>#}

{#<script type="module">#}
{#    /** @type {VideoStream} */#}
{#    const stream_key = 'webcam_mjpeg';#}
{#    const video = document.createElement('video-stream');#}
{#    video.id = 'test';#}
{#    video.src = new URL('api/ws?src=' + encodeURIComponent('webcam_yuyv'), 'http://192.168.126.8:1984');#}
{#    document.getElementById(stream_key).appendChild(video);#}
{#</script>#}
<div class="row-fluid"></div>
<div class="well alert-danger" data-bind="visible: settingsViewModel.settings.plugins.go2rtc.api_error()" style="display: none;">There is an issue with the go2rtc configuration. Please make sure that <a href="https://github.com/AlexxIT/go2rtc#module-api" target="_blank">api.origin</a> is set.</div>
